@using WebsiteBanGiay.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Trang Quản Lý Sản Phẩm</h2>

<div style="display:flex">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("ThemSanPham")"><input type="button" value="Thêm Sản Phẩm" class="btn btn-default" /></a>
        </div>
    </div>
    @*@Html.ActionLink("Thêm Mới Sản Phẩm", "ThemSanPham")*@
    <div style="margin-left:500px">
        <div>
            <select id="SearchBy">
                <option value="Name">Name</option>
                <option value="ID">ID</option>
            </select><br />
            <input id="SearchValue" name="SearchValue" type="text" />
            <br />
            <input type="submit" id="SearchBtn" value="Search" />

        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã Sản Phẩm
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Đơn Giá
            </th>
            <th>
                Hình Ảnh
            </th>
            <th>
                Loại Sản Phẩm
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="DataSearching">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    <img src="@Url.Content("~/Content/HinhAnh/SanPham/"+item.HinhAnh)" style="width:100px;height:150px" alt="">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
                </td>
                <td>
                    @Html.ActionLink("Sửa Thông Tin", "ChinhSuaSanPham", new { @id = item.MaSP }) |
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Xoá Sản Phẩm", "XoaSanPham", new { @id = item.MaSP })
                </td>
            </tr>
        }
    </tbody>


</table>


<div id="PageList" class="navigation col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
    <ul class="pagination">
        <content>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</content>
        <content class="">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </content>
    </ul>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("Index")"><input type="button" value="Danh Sách Sản Phẩm" class="btn btn-default" /></a>
    </div>
</div>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Areas/Admin/Content/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#SearchBtn").click(function () {
            var SearchBy = $("#SearchBy").val();
            var SearchValue = $("#SearchValue").val();
            var SetData = $("#DataSearching");
            var PageList = $("#PageList");
            SetData.html("");
            PageList.html("");

            $.ajax({
                type: "POST",
                url: "/QuanLySanPham/GetSearchingData?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue,
                contentType: "html",
                success: function (result) {
                    if (result.length == 0) {
                        SetData.append('No Match Data')
                    }
                    else {
                        $.each(result, function (index, value) {
                            var Data = "<tr>" +
                                "<td>" + value.MaSP + "</td>" +
                                "<td>" + value.TenSP + "</td>" +
                                "<td>" + value.DonGia + "</td>" +
                                "<td> <img src='/Content/HinhAnh/SanPham/" + value.HinhAnh + "' style='width: 100px; height: 150px' alt=''></td>" +
                                "<td>" + value.LoaiSanPham.TenLoai + "</td>" +
                                "</tr>";
                            SetData.append(Data);
                        });
                    }
                }
            });

        });
    });
</script>