@using WebsiteBanGiay.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Trang Quản Lý Sản Phẩm</h2>

<p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("ThemSanPham")"><input type="button" value="Thêm Sản Phẩm" class="btn btn-default" /></a>
        </div>
    </div>
    @*@Html.ActionLink("Thêm Mới Sản Phẩm", "ThemSanPham")*@
</p>
<table class="table">
    <tr>
        <th>
            Mã Sản Phẩm
        </th>
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Đơn Giá
        </th>
        @*<th>
               Ngày Cập Nhật
            </th>
            <th>
                Mô Tả
            </th>*@
        <th>
            Hình Ảnh
        </th>
        @*<th>
               Số Lượng Tồn
            </th>
            <th>
               Lượt Xem
            <th>
                Lượt Bình Chọn
            </th>
            <th>
                Số Lần Mua
            </th>
            <th>
               Sản Phẩm Mới
            </th>
            <th>
               Mã Nhà Cung Cấp
            </th>
            <th>
                Mã Nhà Sản Xuất
            </th>*@
        <th>
            Loại Sản Phẩm
        </th>
        @*<th>
               Đã Xoá
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.HinhAnh1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh4)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.NgayCapNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>*@
            <td>
                <img src="@Url.Content("~/Content/HinhAnh/SanPham/"+item.HinhAnh)" style="width:100px;height:150px" alt="">
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.SoLuongTon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LuotXem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LuotBinhChon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLanMua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Moi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNSX)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.DaXoa)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.HinhAnh1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinhAnh2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinhAnh3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinhAnh4)
                </td>*@
            <td>
                @Html.ActionLink("Sửa Thông Tin", "ChinhSuaSanPham", new { @id=item.MaSP }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Xoá Sản Phẩm", "XoaSanPham", new { @id=item.MaSP })
            </td>
        </tr>
    }

</table>


<div class="navigation col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
        <ul class="pagination">
            <content>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</content>
            <content class="">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
            </content>
        </ul>
    </div>